{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block action_buttons %}{% endblock action_buttons %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-warning btn-block btn-lg waves-effect" type="button" onClick="javascript:history.go(-1);">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary btn-block btn-lg waves-effect" type="submit">Update</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}

{% block javascripts %}
<script language="javascript">
</script>
{% endblock javascripts %}