{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block action_buttons %}
{% endblock action_buttons %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form name="frm1" id="frm1" action="" method="POST">

                    {% csrf_token %}
                    {{ form|crispy }}

                    <div id="accordion">
                        {{ cell_qs.condition_html|safe}}
                    </div>

                    <textarea id="condition_html" name="condition_html" style="visibility: hidden;"></textarea>
                    <input type="text" id="serialize_str" name="serialize_str" value="" style="visibility: hidden;" />
                    <input type="text" id="condition_json" name="condition_json" value="" style="visibility: hidden;" />

                    <div class="col-12">
                        <button class="btn btn-warning btn-block btn-lg waves-effect" type="button"
                            id="btn_filter">Filter</button>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <table
                                    id="ajax_datatable"
                                    class="datatable table table-striped table-bordered dt-responsive nowrap"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;"
                                    url="{% url 'master-data:cell-panel-profile-ajax' country_code=global.country_code %}">
                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-warning btn-block btn-lg waves-effect" type="button"
                                onClick="javascript:history.go(-1);">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary btn-block btn-lg waves-effect" type="submit">Update</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}
{% block javascripts %}
<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
<script src="{% static 'assets/js/cell.js' %}"></script>
<script language="javascript">
</script>
{% endblock javascripts %}