{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block action_buttons %}
{% endblock action_buttons %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form name="frm1" id="frm1" action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-warning btn-block btn-lg waves-effect" type="button"
                                onClick="javascript:history.go(-1);">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary btn-block btn-lg waves-effect" type="submit">Update</button>
                        </div>
                    </div>

                </form>




            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}

{% block javascripts %}
<script language="javascript">

(function($) {

  // convert a multiple select in a multiple checkbox
  var mselectTOmcheckbox = function mselectTOmcheckbox(selector) {

    var elements = $(selector);

    elements.each(function(index, item) {
      var id = $(item).attr('id'),
          name = $(item).attr('name'),
          options = $(item).children();

      var mcheckbox_table = $('<table/>', {
        id: 'mcheckbox-' + id,
        className: 'table table-striped table-bordered dt-responsive nowrap mcheckbox-table'
      }).appendTo(
        mcheckbox_container = $('<div/>', {
            className: 'mcheckbox-container'
        })
      );

      options.each(function(index, option) {
        var value = $(option).attr('value'),
            label = $(option).text(),
            selected = $(option).attr('selected');

        var checkbox_row = $(
            '<tr>'
          + '<td><label for="' + name +'_' + value + '" class="mcheckbox-label">' + label + '</td>'
          + '<td><input type="checkbox" id="' + name + '_' + value + '" name="' + name +'" value="' + value + '" ' + (selected ? 'checked="checked"' : '') + '/></td>'
          + '</tr>'
        ).appendTo(mcheckbox_table);
      })

      mcheckbox_container.insertAfter(item);

      try {
        mcheckbox_container.resizable({handles: "se"});
      }
      catch(e) {
        // resizing not supported
        console.log('resizing not supported');
      }

      $(item).nextAll('.help').hide();
      $(item).remove();

    })

  };

  // apply the conversion to the desired elements (change the selector)
  $(document).ready(function() {
    mselectTOmcheckbox('select[id="id_cell"]');
  })

})(jQuery)

</script>
{% endblock javascripts %}