{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block action_buttons %}
{% endblock action_buttons %}
{% block stylesheets %}
<style>

.active{
  display: none;
}

.form-cont{
  background-color: 	#fdfbfb;
  height: 100vh;
  padding: 2em;
}

.btn-li-items{
  background-color: white;
  border: 1px solid #e4e4e4 ;
  margin-top: 1em;
  padding: .5em .5em;
}

.checkall{
  float: right;
}

#mysearch{
  margin-top:3em;
  /* border: 1px solid grey; */
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1em;
}

#ul-el{
  list-style:none;
  margin: 0;
  padding: 0;
}

#ul-el li{
  border-bottom:1px solid rgb(230, 227, 227) ;
  padding:.5em;
}

.check{
  margin-right: 10px;
}

.label{
  margin: 0;
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form name="frm1" id="frm1" action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="row">
                      <div class="form-group" id="multi-select">
                        <div class="form-cont">
                            <input type="text" class="form-control" id="searchInput" aria-describedby="Search" placeholder="Search Names">

                            <div class="btn-li-items">
                                <button type="button" class="btn btn-info checkall">Select All</button>
                                <p id="selected-check">Selected Items : 0</p>
                                <div id="mysearch">
                                    <ul id="ul-el"></ul>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-warning btn-block btn-lg waves-effect" type="button"
                                onClick="javascript:history.go(-1);">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary btn-block btn-lg waves-effect" type="submit">Create</button>
                        </div>
                    </div>

                </form>




            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock content %}

{% block javascripts %}
<script language="javascript">
  let json_data = JSON.parse(`{{ cells.data|safe }}`);
  console.log(json_data)
  </script>
  <script src="{% static 'assets/js/multiselect.js' %}"></script>
  <script>
    renderMultiSelect(json_data);
  </script>
{% endblock javascripts %}