<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <table id="ajax_datatable" class="datatable table table-striped table-bordered dt-responsive nowrap"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;"
                    {% if data_url %} data-url="{{ data_url }}"{% endif %} >
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->