{% extends 'base_full.html' %}
{% load static %}
{% block content %}

        <div class="wrapper-page">
            <div class="card card-pages shadow-none">
                <div class="card-body">
                    <h1>{{ page_title }}</h1>
                    {% for user in usercountries %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card m-b-30 card-body">
                                <h4 class="card-title font-16 mt-0">{{ user.country.name}}</h4>
                                <p class="card-text">{{ user.country.name}} - {{ user.country.code}}</p>
                                <a href="{% url 'dashboard' country_code=user.country.code %}" class="btn btn-primary waves-effect waves-light">Dashboard</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>




{% endblock content %}
{% block javascripts %}{% endblock javascripts %}