{% load static %}
<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script><!-- datatables including jquery bootstrap and plugins  -->
<script type="text/javascript" src="{% static 'assets/js/metismenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pagination.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/waves.min.js' %}"></script>
<!-- App js -->
<script type="text/javascript" src="{% static 'assets/plugins/alertify/js/alertify.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/pages/datatables.init.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.cloner.js?v=' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/jquery-simple-tree-table.js' %}"></script>
<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>