{% load static %}
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/datatables/datatables.min.js' %}"></script><!-- datatables including jquery bootstrap and plugins  -->
<script src="{% static 'assets/js/metismenu.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/pagination.min.js' %}"></script>
<script src="{% static 'assets/js/waves.min.js' %}"></script>
<!-- App js -->

<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/common.js' %}"></script>
<script src="{% static 'assets/pages/datatables.init.js' %}"></script>
<script src="{% static 'assets/js/jquery.cloner.js?v=' %}"></script>

<script src="{% static 'assets/js/jquery-simple-tree-table.js' %}"></script>


