{% load static %}

<!--Morris Chart CSS -->
<link href="{% static '/assets/datatables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static '/assets/plugins/morris/morris.css' %}" rel="stylesheet">
<link href="{% static '/assets/css/metismenu.min.css' %}" rel="stylesheet">
<link href="{% static '/assets/css/icons.css' %}" rel="stylesheet">
<link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
<link href="{% static '/assets/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />

