{% extends "base.html" %}

{% block action_buttons %}<a href="{% url 'master-setups:usercountry-update' country_code=global.country_code pk=object_list.0.id  %}" class="btn btn-info btn-lg waves-effect waves-light">Add/Remove User</a>{% endblock action_buttons %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>User Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                        {% for aobj in obj.user.all %}
                        <tr>
                            <td>{{ aobj }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}